body{
    /* background-image: url(./assets/assets/bg-mobile.jpg);
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;*/
     /*um atalho pra agrupar tudo em uma unica propriedade como a background*/
     background: url(/armario/assets/assets/bg-mobile.jpg) no-repeat top center/cover;
     display: inline;
 }
 #container0{
 
     width: 360px;
     border: 1px solid;
     margin: 56px auto 0px;
     
 
 }
 #Profile{
     text-align: center;
     padding: 24px;
 }
 #Profile img{
     width: 112px;
     border: 1px solid;
 }
 body *{
     font-family: 'Inter', sans-serif;
     color: #fff;
 }
 #Profile p{
    font-weight: 500;
    line-height: 24px;
    padding: 24px;
    margin-top: 8px;
    border: 1px solid;
 }
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
  
 ul{
     list-style: none;
    /* display: flex;*/
     gap: 8px;
     
   
 }
 
 ul li {
 
     border: 1px solid blue;
     
     
 }
 ul li a{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
     display: block;
 }