body{
    background: url(/armario/fundo2.jpg) no-repeat top center;
}

#total{

    border: 1px solid rgb(19, 19, 138);
    background-color:rgba(6, 31, 143, 0.459);
    margin: 30px 25px;
    border-radius: 10px;
    height: 500px;
  
}

 #pagina{
border: 1px solid white;
padding: 50px;
margin: 50px 25px;


 }

 h1{
text-align: center;
padding: 10px;
background-color: rgba(blue, blue, blue,1);
border: 1px solid rgba(blue, blue, blue,1);
margin: 10px 10px;
border-radius: 50% solid ;

 }
 ul{

    list-style: none;
 }
 ul li{

    color: black;
 }